@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body {
    background-image: url('/images/app-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}